# Exclude the transpiled code from the repo
dist

# Include sources and tests (it is excluded in .npmignore)
!src
!test

# Share VSCode config, launcher, and tasks setup, but no more
.vscode/**/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Common git and npm ignored folders and files
.nyc_output
.rpt2_cache
*.pid
*.seed
*.tgz
**/*.bak
**/*.lcov
**/*.log
~*
cov-int
coverage
lib-cov
logs
node_modules
package-lock.json
pids
yarn.lock
