# Exclude the transpiled code from the repo
dist

# Include sources and tests (it is excluded in .npmignore)
!src
!test

# Share VSCode config, launcher, and tasks setup, but no more
.vscode/**/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Common git and npm ignored folders and files
~misc
cov-int
coverage
coverage.*
lib-cov
node_modules
package-lock.json
yarn.lock
logs
pids
*.pid
*.seed
*.tgz
*.nyc_output
**/*.bak
**/*.lcov
**/*.log
