# Exclude test files from the package, leave src
test

# Include the ready to run code
!dist

# Exclude VSCode, CI, and Dev related stuff
.vscode
*.yml
Makefile

# Common git and npm ignored folders and files
~misc
cov-int
coverage
coverage.*
lib-cov
node_modules
package-lock.json
yarn.lock
logs
pids
*.pid
*.seed
*.tgz
**/*.bak
**/*.lcov
**/*.log

.nyc_output
.rpt2_cache
