# Exclude source and tests files from the package
src
test

# Include the ready to run code w/o sourcemaps
!dist
**/*.map

# Exclude VSCode, CI, and Dev related stuff
.vscode
.eslint*
*.yml
tsconfig*
Makefile

# Common git and npm ignored folders and files
~misc
cov-int
coverage
coverage.*
lib-cov
node_modules
package-lock.json
yarn.lock
logs
pids
*.pid
*.seed
*.tgz
*.nyc_output
**/*.bak
**/*.lcov
**/*.log
